<header class="header">
	<div class="container header__container">
		<div class="header__container-logo">
			<img src="./img/logo.svg" class="image header__logo" width="79" height="55" alt="Логотип компании" />
		</div>
		<nav class="nav header__nav" title="Навигационная панель">
			<ul class="nav__list list-reset">
				<li class="nav__item"><a href="#" class="nav__link">О нас</a></li>
				<li class="nav__item"><a href="#" class="nav__link">Наши работы</a></li>
				<li class="nav__item"><a href="#" class="nav__link">Стоимость</a></li>
				<li class="nav__item"><a href="#" class="nav__link">Контакты</a></li>
				<li class="nav__item"><a href="#" class="nav__link">Услуги</a></li>
			</ul>
		</nav>
		<div class="header__container-buttons">
			<a class="btn-reset header__button header__button-primary">Тендер</a>
			<a class="btn-reset header__button header__button-secondary">Бриф</a>
		</div>
	</div>
</header>
