:root {
	// base
	--font-family: "Montserrat", sans-serif;
	--content-width: 1400px;
	--container-offset: 20px;
	--container-width: calc(var(--content-width) + (var(--container-offset) * 2));

	// colors
	--white-color: #ffffff;
	--real-black-color: #000000;
	--black-color: #1e1e1e;
	--blue-color: #0066ff;
	--dark-blue-color: #127bb7;
}
